* {
  margin: 10px;
  background-color: rgb(181, 243, 243);
}

div {
  color: rgb(23, 120, 248);
}

button {
  color: rgb(36, 15, 228);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}
